h3 {
    font-family: InsightDisplayprint;
}
.page-header {
    border-bottom: 1px solid black;
    padding: 0px;
}
.col {
    -moz-columns: 3 20em;
    -webkit-columns: 3 20em;
    columns: 3 20em;
}
p {
    font-family: Insightprint;
    font-size: 20px;
    text-align: justify;
    word-break: break-all;
    padding: 0px 5px;
}
.red-text {
    color: #b30000;
}
.grey-box {
    background-color: #ccc4c4;
    border-radius: 20px;
    padding: 20px 20px;
}
.footer {
    font-family: InsightDisplayprint;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.pad-box{
    padding: 30px 0px; 
}