p {
    font-family: Insightprint-Bold;
    font-size: 25px;
  word-break: break-all;
}

.p1 {
  font-family: "InsightDisplayprint";
  font-size: 60px;
  color: #b30000;
  text-align: center;
}

.head {
  padding-top: 10px;
  font-family: "InsightDisplayprint";
  font-size: 80px;
  color: #b30000;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.text1 {
  text-align: center;
}

.desc {
  padding-top: 10px;
  font-family: "InsightDisplayprint";
  font-size: 30px;
  color: #b30000;
  padding-right: 30px;
  padding-left: 30px;
}

.col {
  font-family: "Insightprint";
  font-size: 25px;
  -moz-columns: 3 12em;
  columns: 3 12em;
  padding: 20px 45px 10px 45px;
}

.text {
  word-break: break-all;
  color: #b30000;
}

.bottom-text {
  padding-top: 28px;
  padding-left: 30px;
}

.pad {
  padding-left: 30px;
}