.page-header {
    border-bottom: 1px solid black;
    padding-left: 0px;
}
.red-text {
    color: #b30000;
}
.head, p {
    font-family: Insightprint;
    font-size: 25px;
    text-align: justify;
    word-break: break-all;
    padding: 20px;  
}
p{    
    font-size: 20px; 
     padding: 5px;
}
.title {
    font-family: Insightprint-Bold;
    font-size: 20px; 
    padding: 5px;     
}
img{
    width: 100%;    
}
.grey-box {
    background-color:  #ccc4c4;
    border-radius: 15px;    
    padding: 5px 15px;  
}  
.yellow-box {
    background-color:  #e6e600;
    border-radius: 15px;    
    padding: 5px 15px; 
}  
.orange-box {
    background-color:  #ffc266;
    border-radius: 15px;    
    padding: 5px 15px;  
} 
.red-box {
    background-color:  #cc0000;
    border-radius: 15px;  
    color:#ffffff;  
    padding: 5px 15px;  
    text-align: center;
    font-size: 20px;
}
.lemon-box {
    background-color:  #ffff80;
    border-radius: 15px;    
    padding: 5px 15px; 
} 
.grey1-box {
    background-color:  #999999;
    border-radius: 15px;    
    padding: 5px 15px; 
} 
.brown-box {
    background-color:  #996633;
    border-radius: 15px;    
    padding: 5px 15px; 
}